# Base de datos
DATABASE_URL="file:./dev.db"

# Better Auth
# Generar secret: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
BETTER_AUTH_SECRET=tu_secret_aqui
BETTER_AUTH_URL="http://localhost:3000"

# Carpeta de archivos estaticos
STATIC=publico